.b-photo-nav
  button.b-photo-nav__button-previous(type='button') Previous Photo
  span.b-photo-nav__counter
    | Showing image
    span(data-hook='photos-index')
    | of
    span(data-hook='photos-count')
  button.b-photo-nav__button-next(type='button') Next Photo

