.toolbar
  .toolbar__button(data-hook='thumbnails-button')
    img.toolbar__button-icon(src=require("../../../assets/icons/left_arrow.png"))
  .toolbar__label(data-hook='navigation-label')
  .toolbar__button
