.b-photo-toolbar
  .b-photo-toolbar__thumbnails-button
    img.b-photo-toolbar__thumbnails-button-image(src='/assets/icons/left_arrow.png')
  .b-photo-toolbar__counter
  .b-photo-toolbar__placeholder
