.b-photo-toolbar
  .b-photo-toolbar__button(data-hook='thumbnails-button')
    img.b-photo-toolbar__button-icon(src='/assets/icons/left_arrow.png')
  .b-photo-toolbar__label(data-hook='navigation-label')
  .b-photo-toolbar__button
