$unit: 8px;

$toolbar-height: $unit * 6;
$footer-height: $unit * 4;

@mixin full-height() {
  height: 100%;
}

@mixin viewport() {
  height: 100%;
  box-sizing: border-box;
  padding-top: $toolbar-height;
  padding-bottom: $footer-height;
  overflow: scroll;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $unit * 2;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;

  .page__body {
    @include viewport();
  }

  .page__toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $toolbar-height;
    box-shadow: 0 3px 6px #696969;
    background-color: #ffffff;
  }

  .page__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    box-shadow: 0 -3px 6px #696969;
    background-color: #ffffff;
    text-align: right;
    font-size: small;
  }

  &_fixed {
    .page__body {
      overflow: hidden;
    }
  }
}

.photo {
  display: flex;
  height: 100%;
  box-sizing: border-box;

  background-color: lightgray;

  .photo__image {
    max-width: 96%;
    max-height: 96%;
    margin: auto;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;

  &_centered {
    justify-content: center;
  }

  &__button-icon {
    height: $toolbar-height - $unit * 2;
    padding: $unit;
  }

  &__label {
    line-height: $toolbar-height;
  }
}

$thumbnail-width: 320px;
$thumbnail-height: 320px;

.thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.thumbnail {
  display:flex;
  justify-content:center;
  align-items:center;
  width: $thumbnail-width;
  height: $thumbnail-height;
  margin: $unit;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid cornflowerblue;

  &_selected {
    border-width: 5px;
    border-style: double;
  }

  &__image {
    max-width: $thumbnail-width;
    max-height: $thumbnail-height;
  }
}
